@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
body {
	background-color: #0f1b29;
	position: relative;
    font-family: 'Open Sans', sans-serif;
}
body::before{
    position: fixed;
    top:0;
    left:50%;
    width:100px;
    height: 100vh;
    content: '';
    transform: translate(-50%,0);
    background-color: red;
    background-image: linear-gradient(to top, #C549A6, #F3B0E0);
    box-shadow:  0 0 45px #ff8eae;
}
.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1100px;
	height: 600px;
	background-color: #191d4a;
	border-radius: 10px;
}
.bg-rotate{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 30% 70% 25% 75% / 49% 35% 65% 51%;
    background-image: linear-gradient(to right, #ff58e3, rgb(67, 64, 246));
    transform: rotate(0deg) translate(-50%, -50%);
    z-index: -1;
    opacity: 0.6;
    filter: blur(69px);
}

/* ----- effect ----- */

.effect {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
    top: 0;
}

.wall_left {
	border: 1.5px solid #00ffff;
	position: absolute;
	left: 10%;
	top: 100px;
	transition: 1s;
	width: 200px;
	height: 400px;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #26f8f8;
	transform: perspective(290px) rotate(-11deg) rotateY(29deg);
}
.wall_right {
	border: 1.5px solid #F3B0E0;
	position: absolute;
	left: 72%;
	top: 100px;
	transition: 1s;
	width: 200px;
	height: 400px;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #ff8eae;
	transform: perspective(290px) rotate(11deg) rotateY(-29deg);
}
.hand1 {
	position: absolute;
	width: 250px;
	height: 150px;
	background-image: url(img/hand1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	top: 50%;
	right: 45%;
	opacity: 0;
}
.hand2 {
	position: absolute;
	width: 250px;
	height: 150px;
	background-image: url(img/hand2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	top: 37%;
	left: 45%;
	opacity: 0;
}
.show_effect_v1 .hand1 {
	animation: hand1_show 3s ease-in-out 1s 1 forwards;
}
.show_effect_v1 .hand2 {
	animation: hand2_show 3s ease-in-out 1s 1 forwards;
}
@keyframes hand1_show {
	0% {
		width: 0;
		height: 0;
		transform: rotate(-45deg) translate(0, 150px);
		opacity: 0;
	}
	50% {
		width: 250px;
		height: 150px;
		transform: rotate(0) translate(0, 0);
		opacity: 1;
	}
	100% {
		transform: rotate(45deg) translate(90px, -90px);
		opacity: 0;
	}
}
@keyframes hand2_show {
	0% {
		width: 0;
		height: 0;
		transform: rotate(-40deg) translate(0, 150px);
		opacity: 0;
	}
	50% {
		width: 250px;
		height: 150px;
		transform: rotate(0) translate(0, 0);
		opacity: 1;
	}
	100% {
		transform: rotate(45deg) translate(-30px, 90px);
		opacity: 0;
	}
}
.show_effect_v1 .wall_left {
	animation: wall_left_show 3s ease-in-out 2.5s 1 forwards;
}
.show_effect_v1 .wall_right {
	animation: wall_right_show 3s ease-in-out 2.5s 1 forwards;
}
@keyframes wall_left_show {
	0% {
		width: 200px;
		left: 10%;
		transform: perspective(290px) rotate(-11deg) rotateY(29deg);
	}
	50% {
		width: 1px;
		left: 50%;
		transform: perspective(290px) rotate(0deg) rotateY(29deg)
	}
	100% {
		width: 200px;
		left: 10%;
		transform: perspective(290px) rotate(-11deg) rotateY(29deg);
	}
}
@keyframes wall_right_show {
	0% {
		width: 200px;
		left: 72%;
		transform: perspective(290px) rotate(11deg) rotateY(-29deg);
	}
	50% {
		width: 1px;
		left: 50%;
		transform: perspective(290px) rotate(0deg) rotateY(-29deg)
	}
	100% {
		width: 200px;
		left: 72%;
		transform: perspective(290px) rotate(11deg) rotateY(-29deg);
	}
}


/* ----- product ----- */

.list img {
    width: 290px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,20px);
}
.list .item{
	position: absolute;
	width: 25%;
	height: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	transition: 0;
	overflow: hidden;
	transform: translate(-50%, -50%);
}
.list .active {
    opacity: 0;
    animation: img_item_active 1s ease-in-out 4s 1 forwards;
}
@keyframes img_item_active {
	0% {
		opacity: 0;
		width: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		width: 300px;
	}
}
@keyframes img_active{
    0%{
          transform: translate(-50%,-10px);
    }
   100%{
    transform: translate(-50%,20px);
    }
}
@keyframes img_active_before{
    0%{
         width:0;
         opacity: 0; left: 38%;
    }
   100%{
    width: 150px;
         opacity: 0.3; left: 18%;
    }
}
.list .hide_item{
    opacity: 1;
    animation: img_hide 1s ease-in-out 1 forwards;
}
.list .hide_item::before{
    position: absolute;
    bottom: 10%;
    left: 18%;
    content: '';
    width: 150px;
    height: 70px;
    background-color: #0f8e8e;
    border-radius: 50%;
    filter: blur(18px);
    animation: img_hide_before 1s ease-in-out 1 forwards;
}
@keyframes img_hide_before{
	0%{
	 width: 150px;
		  opacity: 0.3; left: 18%;
	 }
	 100%{
		 width:0;
		 opacity: 0; left: 38%;
	}
}
@keyframes img_hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* ----- content ------ */

.content .item{
    position: absolute;
    width: 200px;
    color: #fff;
    padding: 20px;
    text-shadow: 0 0 5px #0CD891;
    top: 40%;
    max-height: 0px;
    left: 15%;
    opacity: 0;
    transform: perspective(290px) rotate(-11deg) rotateY(29deg);
}
.content .item h2{
    color: #0CD891;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 20px #0CD891;
}
.content .item p{
    font-size: small;
}
.content .item::before{
    position: absolute;
    top:10%;
    left:0;
    width:100px;
    height: 50px;
    content: '';
    z-index: -1;
    opacity: 0.7;
 }
.content .item button {
	background-color: #F3C46C;
	border: none;
	color: #fff;
	padding: 10px 20px;
	box-shadow:  0 0 10px #E59342;
}
.content .item_active{
	color: black;
}
.content .active{
    animation: content_show 3s ease-out 6.1s 1 forwards;
}
@keyframes content_show{
	from {
	 	opacity: 0;
	}
	to {
	 	opacity: 1;
	}
}
.content .hide_item{
    animation: content_hide 2s ease-out 1 forwards;
}
@keyframes content_hide{
   	from {
    	opacity: 1;
   	}
   	to {
   		opacity: 0;
   	}
}

/* ----- dercoration ----- */
.decoration .item:nth-child(1) {
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	width: 30px;
	height: 30px;
	top: 30%;
	left: 30%;
	background-color: #EC5A64;
}
.decoration .item:nth-child(2) {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 60%;
	right: 30%;
	filter: blur(3px);
	background-color: #33D9C5;
}
.decoration .item:nth-child(3) {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	right: 15%;
	background-color: #33D9C5;
}
.decoration .item:nth-child(4) {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	left: 35%;
	border-radius: 50%;
	filter: blur(5px);
	background-color: #F3C46C;
}
.decoration {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: decor_moving 4s ease-in-out infinite alternate;
 }
@keyframes decor_moving {
	from {
		transform: translate(0, 40px);
	}
	to {
		transform: translate(0, 0);
	}
}
.show_effect_v1 .decoration .item:nth-child(1) {
	animation: dots_item_1 3s ease-out 3.1s 1 forwards;
}
.show_effect_v1 .decoration .item:nth-child(2) {
	animation: dots_item_2 3s ease-out 3.1s 1 forwards;
}
.show_effect_v1 .decoration .item:nth-child(3) {
	animation: dots_item_3 3s ease-out 3.1s 1 forwards;
}
.show_effect_v1 .decoration .item:nth-child(4) {
	animation: dots_item_4 3s ease-out 3.1s 1 forwards;
}
@keyframes dots_item_1 {
	0% {
		top: 30%;
		left: 30%;
		opacity: 1;
		transform: rotate(0deg);
	}
	30% {
		top: 30%;
		left: 50%;
		opacity: 0;
		transform: rotate(500deg);
	}
	70% {
		top: 40%;
		left: 30%;
		opacity: 0;
		transform: rotate(90deg);
	}
	100% {
		top: 30%;
		left: 30%;
		opacity: 1;
		transform: rotate(0deg);
	}
}
@keyframes dots_item_2 {
	0% {
		top: 60%;
		right: 30%;
		opacity: 1;
		transform: rotate(0deg);
	}
	30% {
		top: 60%;
		right: 50%;
		opacity: 0;
		transform: rotate(500deg);
	}
	70% {
		top: 70%;
		right: 30%;
		opacity: 0;
		transform: rotate(90deg);
	}
	100% {
		top: 60%;
		right: 30%;
		opacity: 1;
		transform: rotate(0deg);
	}
}
@keyframes dots_item_3 {
	0% {
		top: 50%;
		right: 15%;
		opacity: 1;
		transform: rotate(0deg);
	}
	30% {
		top: 50%;
		right: 50%;
		opacity: 0;
		transform: rotate(500deg);
	}
	70% {
		top: 60%;
		right: 15%;
		opacity: 0;
		transform: rotate(90deg);
	}
	100% {
		top: 50%;
		right: 15%;
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes dots_item_4 {
	0% {
		top: 50%;
		left: 35%;
		opacity: 1;
		transform: rotate(0deg);
	}
	30% {
		top: 50%;
		left: 50%;
		opacity: 0;
		transform: rotate(500deg);
	}
	70% {
		top: 60%;
		left: 35%;
		opacity: 0;
		transform: rotate(90deg);
	}
	100% {
		top: 50%;
		left: 35%;
		opacity: 1;
		transform: rotate(0deg);
	}
}


/* ----- dots page ----- */

.dots-page {
    position: absolute;
    bottom: 20px;
    left:50%;
    transform: translate(-50%, 0%);
}
.dots-page div{
    width:10px;
    height:10px;
    display: inline-block;
    background-color: #dcdcdc;
    margin:10px;
    border-radius: 50%;
    transition: 0.8s;
}
.dots-page .active{
    background-color: #C7CA3A;
}

/* ----- button pages ----- */

.btn{
    position: absolute;
    bottom:40px;
    right:40px;
}
.btn button{
    display: inline-block;
    border:none;
    padding:5px 7px;
    overflow: hidden;
    background-color: #939292;
    opacity: 0.3;

}








/* ----- header ----- */

.header .logo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px 20px;
	display: inline-block;
}
.header ul {
	list-style: none;
	display: inline-block;
	line-height: 40px;
	transform: translate(-40px, -25px);
}
.header ul li {
	display: inline-block;
	font-size: 13px;
	margin-right: 15px;
	color: #939292;;
}

